<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <title>CRM-Base (HR-Recruiment)</title>
</head>

<body>
    <form action="/" method="POST">
        <table>
            <thead>
                <tr>
                    <th>№</th>
                    <th>Full Name</th>
                    <th>Date of birth</th>
                    <th>Phone number</th>
                    <th>Email</th>
                    <th>Position</th>
                    <th>Date of application</th>
                    <th>Status</th>
                </tr>
            </thead>
            <tbody>
                {{ROWS}}

                <tr>
                    <td></td>
                    <td><input type="text" name="fullname"></td>
                    <td><input type="date" name="dob"></td>
                    <td><input type="text" name="phone"></td>
                    <td><input type="email" name="email"></td>
                    <td><input type="text" name="position"></td>
                    <td><input type="date" name="date"></td>
                    <td><input type="text" name="status"></td>
                </tr>
            </tbody>
        </table>
        <button class="submit">Submit</button>
        <button class="del">Delete</button>
    </form>
</body>

</html>