<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/static/style.css">
    <link rel="shortcut icon" href="/static/favicon.png" type="image/x-icon">
    <script src="/static/script.js" defer></script>
    <title>CRM-Base (HR-Recruiment)</title>
</head>

<body>
    <div class="container">
        <header>
            <h1>HR Recruitment CRM</h1>
            <div class="search-box">
                <input type="text" id="search" placeholder="Search clients..." onkeyup="filterTable()">
            </div>
        </header>

        <form id="crm-form" action="/" method="POST">
            <table>
                <thead>
                    <tr>
                        <th>№</th>
                        <th>Full Name</th>
                        <th>Date of birth</th>
                        <th>Phone number</th>
                        <th>Email</th>
                        <th>Position</th>
                        <th>Date of application</th>
                        <th>Status</th>
                    </tr>
                </thead>
                <tbody>
                    {{ROWS}}

                    <tr>
                        <td></td>
                        <td><input type="text" name="fullname"></td>
                        <td><input type="date" name="dob"></td>
                        <td><input type="text" name="phone"></td>
                        <td><input type="email" name="email"></td>
                        <td><input type="text" name="position"></td>
                        <td><input type="date" name="date"></td>
                        <td><input type="text" name="status"></td>
                    </tr>
                </tbody>
            </table>
            <div class="controls">
                <input type="hidden" name="selected_id" id="selected_id">
                <button class="submit" type="submit">Add New Client</button>
                <button class="del" type="submit" formaction="/delete" formmethod="POST" disabled
                    onclick="return confirm('Are you sure you want to delete this client?')">Delete</button>
                <button class="edit-btn" type="button" disabled onclick="enableEdit()">Edit</button>
                <button class="save hidden-el" type="submit" formaction="/update" formmethod="POST">Save
                    Changes</button>
                <button class="clear" type="button" onclick="clearForm()">Clear</button>
            </div>
        </form>
    </div>
</body>

</html>